body {
  text-align: center;
  margin: 0;
  overflow: hidden;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 20%;
  padding: 0;
}

button:hover {
  transform: scale(1.1);
}

.game {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background: url(img/background.png) center/cover no-repeat;
}

header {
  text-align: center;
  padding: 8px;
}

.game__button {
  width: 90px;
  height: 90px;
  font-size: 48px;
  background-color: wheat;
  border: 4px solid black;
  margin-top: 20px;
}

.game__timer {
  display: block;
  width: 260px;
  height: 72px;
  margin: auto;
  margin-top: 12px;
  background-color: white;
  border-radius: 10px;
  font-size: 56px;
  border: 4px solid black;
  visibility: hidden;
}

.game__score {
  display: inline-block;
  width: 90px;
  height: 90px;
  font-size: 54px;
  line-height: 1.7;
  margin-top: 10px;
  background-color: darksalmon;
  color: white;
  border-radius: 50%;
  border: 3px solid black;
  visibility: hidden;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 80px;
}

.pop-up {
  border-radius: 20px;
  width: 40vw;
  height: 25vh;
  margin: auto;
  background-color: #00000090;
  color: white;
  transform: translateY(-160%);
}

.pop-up--hide {
  display: none;
}

.pop-up__retry {
  width: 80px;
  height: 80px;
  font-size: 36px;
  background-color: wheat;
  border: 3px solid black;
  transition: transfrom 300ms ease-in;
}

.pop-up__message {
  display: block;
  font-size: 48px;
  margin-top: 12px;
}

.hide {
  display: none;
}

.carrot,
.bug {
  width: 90px;
  height: 90px;
}

.carrot:hover {
  transform: scale(1.1);
}
